@model Videl.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <br />
    <h1>@Model.Name</h1>

    <div class="Weel-center">
        <div class="well">
            @if (Model.BirthDay.HasValue)
            {
                <h4>Birtday:  @Model.BirthDay.Value.ToShortDateString()</h4>
                <br />
                <h4 class="alert alert-info"> Membership Type:  @Model.MemberShipType.Name</h4>
                <h4 class="alert alert-info"> Subscription:  @Model.IsSubscribeToNewsLetter</h4>

            }
            @Html.ActionLink("Edit", "Edit", "Customer", new { id = Model.Id }, null)
            <button class="btn btn-success">@Html.ActionLink("Back to list", "Index", "Customer")</button>
        </div>
    </div>
</div>