@model Videl.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@Model.Name</h2>
<br />

<div class="well we">
    <h4 class="alert alert-info">Genre:  @Model.Genre.Name</h4>
    <h4 class="alert alert-warning">Release Date:  @Model.ReleaseDate.ToLongDateString()</h4>
    <h4 class="alert alert-success">Date Added:  @Model.DateAdded.ToLongDateString()</h4>
    <h4 class="alert alert-danger">Number In Stock:  @Model.NumberInStock</h4>

    @Html.ActionLink("Edit", "Edit", "Movie", new { id = Model.Id}, null)
</div>

